body {
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background: red;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#arroundChange {
    color: green;
}

#nameOption {
    text-align: center;
    text-transform: uppercase;
}

.switchBox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5rem;
}

.container {
    display: flex;
    margin-top: 10rem;
}

.container .leftPart {
    width: 20%;
}

.container .leftPart .button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}

table {
    margin: 0 auto;
    width: 70%;
}

th {
    text-align: left;
}

.container .rightPart {
    width: 80%;
}

.value::after {
    content: ' €';
}

table td:first-child {
    width: 8rem;
}

.cashBox div {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 5rem;
    width: 70%;
}

.cashBox section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cashBox input {
    width: 4rem;
    margin-top: 1.5rem;
    font-size: 1.2rem;
}

.coins img {
    width: 100px;
}

.cash img {
    width: 200px;
}

.loaderContainer {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid red; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.5s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

input, input:focus-visible {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 7px;
    text-align: center;
}

button {
    border: none;
    border-radius: 7px;
    padding: 7px;
    min-width: 5rem;
    transition: .2s;
}
button:hover {
    cursor: pointer;
    box-shadow: 0 2px 5px  black;
}